@import "tailwindcss";
@import "tw-animate-css";
@import './modal.css';

@plugin "daisyui" {
  themes: all;
}

html,
body,
#app {


  @media (min-width: 1024px) {
    /* daisyUI 组件在大屏幕时变小 */
    --size-field: 0.21875rem;
    /* 文字大小在大屏幕时变小 */
    --text-sm: 0.8rem;
    --text-base: 0.85rem;
    --text-lg: 1.05rem;
    /* 自定义变量在大屏幕时的值 */
    --spacing: 0.222222rem;
  }
}